 body { 
     margin: 0;
     font-family: 'Raleway', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     background: #100E1D;
     color: #E7E7EB;
 }

 ul {
     padding: 0;
     list-style: none;
 }

 li, a {
     text-decoration: none;
 }

 p {
     margin: 0;
 }
 label {
     display: block;
 }

 .location_choice {
     visibility: hidden;
 }

 input {
     width: 100%;
 }

 progress {
     width: 100%;
     height: 7px;
     -webkit-appearance: none;
 }

 ::-webkit-progress-bar {
     background-color: #E7E7EB;
     border-radius: 80px;
 }

 ::-webkit-progress-value {
     background-color: #FFEC65;
     border-radius: 80px;
 }

 @media(min-width: 1114px) {
     body {
         max-width: 1114px;
         margin-left: auto;
         margin-right: auto;
     }
     main {
         display: grid;
         grid-template-columns: 30% 68%;
         column-gap: 32px;
     }

    .days_weather_container {
         display: grid;
         grid-template-columns: 45% 45%;
         gap: 32px;
     }

     .page_article {
        display: grid;
        grid-template-columns: 48% 48%;
        gap: 48px; 
     }
 }