 body {
     margin: 0;
     font-family: 'Raleway', sans-serif;
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 19px;
     background: #100E1D;
     color: #E7E7EB;
 }

 main {
     position: relative;
 }

 ul {
     padding: 0;
     list-style: none;
 }

 li, a {
     text-decoration: none;
 }

 p {
     margin: 0;
 }

 label {
     display: block;
 }

 section h2 {
     margin-left: 23px;
 }

 .location_choice {
     visibility: hidden;
 }

 .weather_today_container {
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     padding: 13px;
 }

 input {
     background: #1E213A;
     width: 100%;
 }

 input::placeholder {
     font-size: 15px;
     line-height: 19px;
     color: #E7E7EB;
 }

 progress {
     width: 100%;
     height: 7px;
     -webkit-appearance: none;
 }

 .search_form {
     display: grid;
     grid-template-columns: 67% 30%;
 }

 .input_container {
     grid-column: 1/2;
     grid-row: 1;
 }

 .input_container input, .locations_container input, .locations_container input:hover {
     border: 1px solid #E7E7EB;
     box-sizing: border-box;
     padding: 15px;
     padding-left: 15px;
     padding-right: 15px;
     margin-bottom: 38px;
 }
 .input_container input {
    font-size: 16px;
    line-height: 19px;
    color: #616475;
 }

 .locations_container {
     grid-column: 1/3;
     grid-row: 2;
 }

 .locations_container input {
     border: none;
     font-size: 16px;
     line-height: 19px;
     color: #E7E7EB;
 }

 .locations_container input {
     border: none;
 }

 .submit_btn_container {
     display: flex;
     justify-content: flex-end;
     grid-column: 2;
 }

 ::-webkit-progress-bar {
     background-color: #E7E7EB;
     border-radius: 80px;
 }

 ::-webkit-progress-value {
     background-color: #FFEC65;
     border-radius: 80px;
 }

 .submit_btn_container button {
     height: 48px;
     border: none;
     background: #3C47E9;
     padding: 11px;
     padding-left: 15px;
     padding-right: 15px;
     font-weight: 600;
     font-size: 16px;
     line-height: 19px;
     color: #E7E7EB;
 }

 @media(min-width: 1114px) {
     /* body {}
     #root {
         position: relative;
     }
     header {
         position: absolute;
     } */
     main {
         display: grid;
         grid-template-columns: 28% auto;
         column-gap: 32px;
     }

     section h2 {
        margin-bottom: 0;
    }

     main.sc-jSgupP.LJwnr {
         grid-gap: 110px;
         padding-right: 88px;
     }

     .sc-gKsewC.eczXlG.days_weather_container {
         padding: 0;
     }
     .sc-gKsewC.eczXlG.days_weather_container {
         grid-template-columns: repeat(5, 1fr);
         padding-top: 148px;
         padding-bottom: 72px;
     }
     .days_weather_container {
         display: grid;
         grid-template-columns: 45% 45%;
         gap: 32px;
     }
     .page_article {
         display: grid;
         grid-template-columns: 48% 48%;
         gap: 48px;
     }
     .card_container.weather_highlighted.wind_status {
         height: 204px;
         margin: 0;
         margin-top: 23px;
     } 

     .card_container.humidity {
         margin: 0;
         height: 204px;
     }
     p.page_paragraph.number {
         margin-bottom: 32px;
     }
     .card_container.humidity_measurement {
         transform: translateY(-51px);
     }
     .card_container.humidity {
         margin: 0;
     } 

     .card_container.weather_highlighted.visibility {
        margin: 0;
    }

    .card_container.weather_highlighted.air_pressure {
        margin: 0;
    }
 }